.schedule-container {
  margin: 0 auto;
}

.schedule-container .calendar-class-container .rotate-phone {
  margin: 0 auto;
  text-align: center;
  padding: 12px 1px 0px 1px;
  display: none;
  position: relative;
  top: -13px;
}

.schedule-container .calendar-class-container .rotate-phone p {
  padding: 0;
  margin: 0;
  position: relative;
  top: 15px;
}

.schedule-container .schedule-img {
  background: url('../../images/bkgrnd/schedule.jpg') no-repeat;
  background-size: 100% auto;
}

.schedule-container:after {
  content: ' ';
  display: block;
  clear: both;
}

.schedule-container .calendar-class-container {
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
}

.schedule-container iframe {
  display: block;
  border: none;
  width: 90%;
  margin: 0 auto;
}

.schedule-container .iframe-schedule {
  height: 900px;
}

.schedule-container .content .heading {
  padding: 20px 0 0 0 !important;
  font-size: 32px;
}

.schedule-container .btn-sm {
  font-size: 15px !important;
}

.schedule-container .weekly-schedule .day {
  text-align: left;
  width: 80;
  padding: 5px;
  font-size: 12px;
  text-transform: uppercase;
}

.schedule-container .classType p {
  font-size: 14px;
  text-align: left;
  padding: 4px;
  margin: 0;
  border: 0.5px solid #c7c8c9;
  border-bottom: none;
}

.schedule-container .classType p:last-child {
  border-bottom: 0.5px solid #c7c8c9;
}

.schedule-container .weekly-schedule {
  width: 470px;
  padding: 0;
  background-color: hsla(0, 0%, 100%, 0.8);
  margin: 0 auto 20px auto;
  display: block;
}

.schedule-container .btn-wrap {
  margin: 40px auto 0 auto;
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .schedule-container iframe {
    width: 90%;
    margin: 0 auto;
    display: block;
    padding: 0;
  }
  .schedule-container {
    margin: 0 auto;
  }
  .schedule-container .calendar-class-container {
    width: 100%;
    float: none;
  }
  .schedule-container .data-wrap {
    float: none;
    display: block;
    margin: 20px auto 0 auto;
    width: 330px;
    background: none;
  }
  .schedule-container .content {
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.8) !important;
    margin: 0 auto;
  }
  .schedule-container .classType p {
    font-size: 14px;
  }
  .schedule-container .weekly-schedule {
    width: 100%;
    background: none;
  }
  .schedule-container .content .heading {
    padding-top: 0;
  }
}

/********** Ipad Pro ***************/

/* Portrait*/

@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .schedule-container .calendar-class-container {
    width: 100%;
  }
  .schedule-container iframe {
    width: 90%;
  }
  .schedule-container .schedule-img {
    background: none;
  }
  .schedule-container .content {
    margin: 0 auto;
    width: 100%;
  }
}

/* MOBILE PORTRAIT*/

@media screen and (max-width: 768px) and (orientation: portrait) {
  .schedule-container .content .heading {
    display: none;
  }
  .schedule-container .calendar-class-container {
    width: 100%;
  }
  /* Hide jackrabbit calendar on portrait  */
  .schedule-container .calendar-class-container iframe {
    display: none;
  }
  .schedule-container .weekly-schedule {
    width: 90%;
    background: none;
    margin: 0 auto;
  }
  /* show rotate phone icon */
  .schedule-container .calendar-class-container .rotate-phone {
    display: block;
  }
}

/* iPhone 6,7,8 Plus */

@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  .schedule-container .calendar-class-container .rotate-phone {
    display: none;
  }
  /* Show jackrabbit calendar on portrait  */
  .schedule-container .calendar-class-container iframe {
    display: block;
    width: 410px;
  }
  .schedule-container .content .heading {
    display: block;
    font-size: 30px;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-device-width: 768px) and (max-device-width: 1024px) and (device-aspect-ratio: 3/4) and (orientation: portrait) {
  .schedule-container .calendar-class-container .rotate-phone {
    display: none;
  }
  .schedule-container .content .heading {
    display: block;
  }
  .schedule-container iframe {
    width: 92%;
    margin: 0 auto;
    display: block !important;
    padding: 0;
  }
  .schedule-container {
    margin: 0 auto;
  }
  .schedule-container .calendar-class-container {
    width: 100%;
    float: none;
    margin: 20px auto;
  }
}
