.schedule-container {
  margin: 0 auto;
}

.schedule-container .schedule-img {
background: url('../../images/site/schedule.jpg') no-repeat;
background-size: 100% auto;
}

.schedule-container:after {
  content: " ";
  display: block;
  clear: both;
}

.schedule-container .calendar-class-container {
  width: 70%;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  float: right;
}

.schedule-container iframe {
  width: 840px;
  height: 620px;
  box-sizing: border-box;
  margin: 0 auto 30px auto;
  display: block;
}

.schedule-container .btn-sm {
  font-size: 15px !important;
}

.schedule-container .weekly-schedule .day {
  text-align: left;
  width: 80;
  padding: 5px;
  font-size: 12px;
  text-transform: uppercase;
}

.schedule-container .classType p {
  font-size: 14px;
  text-align: left;
  padding: 4px;
  margin: 0;
  border: 0.5px solid #c7c8c9;
  border-bottom: none;
}

.schedule-container .classType p:last-child {
  border-bottom: 0.5px solid #c7c8c9;
}

.schedule-container .weekly-schedule {
  width: 470px;
  padding: 0;
  background-color: hsla(0, 0%, 100%, .8);
  margin: 0 auto 20px auto;
  display: block;
}

.schedule-container .btn-wrap {
  margin: 40px auto;
}

/* MOBILE */

@media screen and (max-width: 768px) {
  .schedule-container {
    margin: 0 auto;
  }
  .schedule-container .content {
    background: none !important;
  }
  .schedule-container iframe {
    width: 700px;
    height: 630px;
    margin: 50px auto 0 auto;
    display: block;
  }
  .schedule-container .classType p {
    font-size: 14px;
  }
  .schedule-container .weekly-schedule {
    width: 100%;
    background: none;
  }
  .schedule-container .data-wrap {
    float: none;
    display: block;
    margin: 0 auto;
    width: 540px;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .schedule-container iframe {
    height: 670px;
    width: 480px;
    margin: 50px auto 0 auto;
    display: block;
  }
}

@media screen and (max-width: 568px) {
  .schedule-container {
    margin: 0 auto;
    background-size: 100% 100%;
  }
  .schedule-container .calendar-class-container {
    width: 100%;
    float: none;
  }
  .schedule-container .data-wrap {
    float: none;
    display: block;
    margin: 0 auto;
    width: 330px;
    background: none;
  }
  .schedule-container .content {
    margin-top: 750px;
    background-color: rgba(255, 255, 255, 0.8) !important;
  }
  .schedule-container .classType p {
    font-size: 14px;
  }
  .schedule-container .weekly-schedule {
    width: 100%;
    background: none;
  }
  .schedule-container .calendar-class-container {
    position: relative;
    height: 0;
  }
  .schedule-container iframe {
    height: 670px;
    width: 100vw;
    margin: 60px auto 0 auto;
    display: block;
    padding: 0;
    position: absolute;
  }
}