.photo-gallery-container {
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh;
    display: inline-block;
    margin: 10px auto 80px auto;
}

#ReactGridGallery {
    min-height: 100vh;
    margin: 60px;
}

#lightboxBackdrop {
    z-index: 99999;
}

/* MOBILE */

@media screen and (max-width: 568px) {
    .photo-gallery-container {
        margin: 0 auto 80px auto;
    }
    #ReactGridGallery {
        margin: 10px;
    }
}