/* Container */

.summer-program-container {
  margin: 0 auto;
}

/* Poster */

.summer-program-container .summer-poster {
  /* float: left; */
  /* width: 50vw; */
  margin: 20px auto;
  text-align: center;
}

.summer-program-container .summer-poster img {
  width: 700px;
}

/* Schedule */

.summer-program-container .summer-schedule {
  box-sizing: border-box;
  margin: 0 auto;
  width: 50vw;
  float: left;
  padding: 10px 13px 0 17px;
}

.summer-program-container .summer-schedule .column-1 {
  float: left;
  width: 55%;
}

.summer-program-container .summer-schedule .column-2 {
  float: left;
  width: 45%;
}

/* Schedule On right side of the page */
.summer-program-container .left-container {
  text-align: center;
  margin-bottom: 25px;
}

.summer-program-container .summer-schedule .column-1.left {
  width: 20%;
  display: inline-table;
  float: none;
}

/* Clear floats after the columns */

.summer-schedule:after {
  content: '';
  display: table;
  clear: both;
}

.summer-program-container .summer-schedule p {
  font-size: 14px;
  padding: 4px;
  justify-content: center;
  margin: 0;
  border: 0.5px solid #c7c8c9;
  border-bottom: none;
  height: 85px;
}

.summer-program-container .summer-schedule p span {
  display: block;
}

.summer-program-container .summer-schedule p:last-child {
  border-bottom: 0.5px solid #c7c8c9;
}

.summer-program-container .summer-schedule .head {
  height: 30px;
  background-color: #5c5f6b;
  color: #fff;
}

/* Content */

.summer-program-container .summer-content-wrap {
  display: block;
  width: 50vw;
  float: right;
}

.summer-program-container .summer-content {
  background-color: rgba(255, 255, 255, 0.8);
  border-left: 2px solid #babcbc;
  padding: 10px 15px;
  box-sizing: border-box;
  margin: 15px;
}

.summer-program-container .title {
  text-align: center;
  font-weight: bolder;
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.summer-program-container .summer-content .sub-title {
  font-weight: bolder;
  font-size: 20px;
  margin: 0 auto;
  text-align: left;
  padding-top: 8px;
}

.summer-program-container .summer-content .date {
  text-decoration: underline;
  font-size: 16px;
}

.summer-program-container .registration-wave {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  font-weight: bold;
  display: table;
  color: #963939;
}

/* Button */

.summer-program-container .btn-wrap {
  margin-bottom: 60px;
}

/* MOBILE */

@media screen and (max-width: 768px) {
  .summer-program-container .summer-poster {
    float: none;
    width: 100vw;
  }

  .summer-program-container .summer-poster img {
    width: 90%;
  }

  .summer-program-container .summer-schedule {
    float: none;
    width: 100vw;
  }

  .summer-program-container .summer-content-wrap {
    float: none;
    width: 100vw;
  }
}

/**************************** Jack Rabbit Class Listings Styles ************************************/
.summer-program-registration-container {
  margin-top: 30px;
}

.summer-program-registration-container {
  width: 90%;
  display: table;
  margin: 30px auto 0 auto;
  text-align: center;
}

.summer-program-registration-container .heading {
  font-size: 28px;
  text-align: center;
  margin-bottom: -5px;
  padding: 0;
}

.summer-program-registration-container .subtitle-listing {
  text-align: center;
  display: block;
}

/* table styles*/
.summer-program-registration-container table.responsive-table {
  padding-top: 0;
}

.summer-program-registration-container table.responsive-table td,
.summer-program-registration-container table.responsive-table th {
  border: solid 1px #1e1e1e;
  background-color: #f7f9fa !important;
  height: 33px;
  font-size: 14px;
}

.summer-program-registration-container a.jrRegLink {
  text-decoration: none;
  color: #d9534f;
}

/**************************** END of Jack Rabbit Class Listings Styles ************************************/

/* 
  ##Device = Tablets, Ipads (landscape)
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .summer-program-container .summer-schedule p {
    height: 90px;
  }

  .summer-program-container .summer-poster img {
    width: 90%;
  }
}

@media screen and (max-width: 568px) {
  .summer-program-container .summer-poster {
    float: none;
    width: 100%;
  }

  .summer-program-container .summer-poster img {
    width: 90%;
  }

  .summer-program-container .summer-schedule {
    float: none;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .summer-program-container .summer-content-wrap {
    float: none;
    width: 100%;
  }

  .summer-program-container .summer-schedule p {
    height: 70px;
  }

  .summer-program-container .summer-schedule .column-1.left {
    width: 50%;
  }

  /* Jack Rabbit Listings */
  .summer-program-registration-container table.responsive-table td,
  .summer-program-registration-container table.responsive-table th {
    border: none;
  }

  .summer-program-registration-container .heading {
    font-size: 22px !important;
    font-weight: bold;
  }
}

/* ----------- iPad Pro ----------- */

/* Portrait*/

@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .summer-program-container .summer-schedule p {
    height: 90px;
  }

  .summer-program-container .summer-poster img {
    width: 90%;
  }
}
