img.logo-image {
  width: 450px;
  margin: 11px 0 0;
}

a.social-icon {
  float: right;
  top: 5px;
  margin-right: 12px;
}

.nav-container {
  background-color: #f7f9fa;
  position: fixed;
  top: 0;
  width: 100%;
  display: inline-block;
}

.dropdown-menu {
  border: 0;
  background-color: none;
  border-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transition: none;
  -webkit-box-shadow: 0 1px 10px -6px rgba(0,0,0,0.42),0 1px 10px 0 rgba(0,0,0,0.12),0 4px 5px -2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 10px -6px rgba(0,0,0,0.42),0 1px 10px 0 rgba(0,0,0,0.12),0 4px 5px -2px rgba(0,0,0,0.1)
}

.dropdown-menu>li>a {
  color: rgb(35, 34, 35);
  font-size: 16px;
}

.dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover, .dropdown-menu>li>a:active, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background-color: rgb(247,249,250);
  color: #963939;
}

.dropdown-menu>.active>a {
  background-color: rgb(247,249,250);
  color: rgb(35, 34, 35);
}

.navbar-default {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: 16px;
  border: none;
  background-color: #f7f9fa;
  margin: 0;
  border-radius: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: none;
  -webkit-box-shadow: 0 1px 10px -6px rgba(0,0,0,0.42),0 1px 10px 0 rgba(0,0,0,0.12),0 4px 5px -2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 10px -6px rgba(0,0,0,0.42),0 1px 10px 0 rgba(0,0,0,0.12),0 4px 5px -2px rgba(0,0,0,0.1)
}

.navbar-default:after {
  content: " ";
  display: block;
  clear: both;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: rgb(35, 34, 35);
}

.navbar-default .navbar-toggle {
  border-color: #8d8e8e;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #8d8e8e;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #f7f9fa;
}

li.nav-menu a {
  text-decoration: none;
  color: rgb(35, 34, 35);
}

.navbar-default .navbar-nav>li>a {
  text-decoration: none;
  color: rgb(35, 34, 35);
}

.navbar-default .navbar-nav>li>a:active, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #963939;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #963939;
  background: #f7f9fa;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background: rgb(247,249,250);
  color: #963939;
}

.navbar-nav>li>.dropdown-menu {
  background-color: rgb(247,249,250);
  color: rgb(35, 34, 35)
}

/* MOBILE */

/* Add hambuguer menu to tablets */

@media (max-width: 1200px) {
  .navbar-header {
    float: none;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

/* HAMBURGUER MENU ANIMATION */

button.navbar-toggle .icon-bar {
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

button.navbar-toggle .icon-bar:nth-of-type(2) {
  top: 6px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

button.navbar-toggle .icon-bar:nth-of-type(3) {
  /*     opacity: 0; */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

button.navbar-toggle .icon-bar:nth-of-type(4) {
  top: -6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  left: 50%;
  opacity: 0;
}

.navbar-default .collapsed .icon-bar:nth-of-type(2) {
  top: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.navbar-default .collapsed .icon-bar:nth-of-type(3) {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.navbar-default .collapsed .icon-bar:nth-of-type(4) {
  top: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  left: 0;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  img.logo-image {
    width: 300px;
  }
  li.nav-menu a {
    text-decoration: none;
    color: rgb(35, 34, 35);
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: rgb(35, 34, 35)
  }
  
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #963939;
  }
  
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #963939;
    background-color: rgb(247,249,250);
  }
}

/********** Ipad Pro ***************/

/* Portrait*/

@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  a.social-icon {
    top: 18px;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  a.social-icon {
    top: 5px;
    margin-right: none;
    width: 30px!important;
    height: 30px!important;
    left: 10px;
  }
}

/* Tablet Portrait */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .navbar-header {
    margin-top: 25px !important;
  }
}

/* Iphone 10 Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .navbar-header {
    margin-top: 10px !important;
  }
}

/* Mobile Portrait */

@media screen and (max-width: 568px) {
  a.social-icon {
    top: 8px;
    width: 30px!important;
    height: 30px!important;
    margin-right: 5px;
    left: 6px;
  }
  img.logo-image {
    width: 230px;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #963939;
    background-color: rgb(247,249,250);
  }
}

/* Iphone 5 Portrait */

@media screen and (device-aspect-ratio: 40/71) and (orientation:portrait) {
  a.social-icon {
    top: 7px;
    margin-right: 1px;
    width: 25px!important;
    height: 25px!important;
    margin-left: 3px;
  }
}