a.go-to-registration {
  color: black;
}

.home-container .wrap {
  padding: 0 140px;
}

.home-container .video-container {
  margin-top: 50px;
}

.home-container .video-container iframe {
  width: 680px;
  height: 350px;
  margin: 0 auto;
  display: block;
}

.home-container .home-img {
  background: url('../../images/site/home.png') center no-repeat;
  background-size: contain;
  width: 100%;
  height: 500px;
  display: block;
  margin: 20px auto 0 auto;
}

.home-container .home-img:hover {
  opacity: 0.6;
}

.home-container .jack-rabbit-img {
  background: url('../../images/site/badge.png') center no-repeat;
  background-size: contain;
  display: block;
  height: 70px;
  margin: 30px auto 40px auto;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .home-container .home-img {
    width: 90%;
    margin: 10px auto 30px auto;
    height: 352px;
  }
  .home-container .video-container iframe {
    width: 530px;
    height: 252px;
  }
  .home-container .wrap {
    padding: 0;
  }
  .home-container .video-container {
    margin-top: 5px;
  }
}

/********** Ipad Pro ***************/

/* Landscape*/

@media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {}

/* Portrait*/

@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .home-container .home-img {
    width: 90%;
    margin: 45px auto 30px auto;
    height: 465px;
  }
  .home-container .video-container iframe {
    width: 530px;
    height: 252px;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .home-container .home-img {
    width: 90%;
    margin: 0 auto;
    height: 550px;
  }
  .home-container .video-container iframe {
    margin: 0 auto;
    width: 600px;
    height: 400px;
  }
  .home-container .video-container {
    margin-top: 5px;
  }
}

/* iphone X */

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation:landscape) {
  .home-container .home-img {
    width: 600px;
    height: 240px;
    margin: 0 auto 20px auto;
    background-size: contain;
  }
  .home-container .video-container iframe {
    width: 86vw;
    height: 240px;
  }
  .home-container .wrap {
    padding: 0;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .home-container .home-img {
    width: 500px;
    height: 210px;
    margin: 0 auto 20px auto;
    background-size: contain;
  }
  .home-container .video-container iframe {
    width: 350px;
    height: 220px;
  }
  .home-container {
    min-height: 100vh;
  }
  .home-container .jack-rabbit-img {
    margin: 30px auto 50px;
  }
  .home-container .wrap {
    padding: 0;
  }
  .home-container .video-container {
    margin-top: 5px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .home-container .home-img {
    width: 90%;
    height: 170px;
    margin: 0 auto 20px auto;
    background-size: contain;
  }
  .home-container .video-container iframe {
    width: 300px;
    height: 169px;
  }
  .home-container .jack-rabbit-img {
    margin: 30px auto 50px;
  }
  .home-container .wrap {
    padding: 0;
  }
  .home-container .jack-rabbit-img {
    height: 60px;
  }
  .home-container .video-container {
    margin-top: 5px;
  }
}