a.go-to-registration {
  color: black;
}

.home-container .wrap {
  padding: 0 140px;
}

.home-container .video-container {
  clear: both;
}

.home-container .video-container iframe {
  width: 680px;
  height: 350px;
  margin: 0 auto;
  display: block;
}

.home-container .home-img {
  /* background: url('../../images/site/website-summer-image.jpg') center no-repeat; */
  background: url('../../images/site/home.png') center no-repeat;
  background-size: contain;
  width: 100%;
  height: 500px;
  display: block;
  margin: 20px auto 0 auto;
}

.home-container .home-img:hover {
  opacity: 0.6;
}

.home-container .image-links-wrap {
  width: 100%;
  display: block;
  margin: 30px auto 30px auto;
  text-align: center;
}

.home-container .image-links-wrap .img-link {
  display: inline-block;
  padding-right: 12.5px;
}

.home-container .image-links-wrap .img-link img {
  height: 160px;
  padding: 0;
  margin: 0;
}

.home-container .image-links-wrap .new-classes:hover,
.home-container .image-links-wrap .calendar:hover,
.home-container .image-links-wrap .performances:hover,
.home-container .image-links-wrap .handbook-policies:hover {
  opacity: 0.6;
}

.home-container .image-links-wrap .img-link:last-child {
  padding-right: 0;
}

.home-container .jack-rabbit-img {
  background: url('../../images/site/badge.png') center no-repeat;
  background-size: contain;
  display: block;
  height: 70px;
  margin: 30px auto 50px auto;
}

.abt-nutcracker-container {
  margin: 15px auto;
}

.abt-nutcracker-container div {
  width: 630px;
  margin: 0 auto;
}

.abt-nutcracker-container img {
  width: 100%;
  image-rendering: pixelated;
}

.abt-nutcracker-container img:hover {
  opacity: 0.6;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .home-container .home-img {
    width: 90%;
    margin: 10px auto 10px auto;
    height: 352px;
  }
  .home-container .video-container iframe {
    width: 692px;
  }
  .home-container .wrap {
    padding: 0;
  }
  .home-container .video-container {
    margin-top: 7px;
  }
  .home-container .image-links-wrap {
    margin: 0 auto;
    width: 90%;
  }
  .home-container .image-links-wrap .img-link {
    width: 50%;
    padding: 0;
  }
  .home-container .image-links-wrap .img-link img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding-right: 0;
  }
  .home-container .image-links-wrap .new-classes,
  .home-container .image-links-wrap .performances {
    padding-right: 5px;
  }
  .home-container .image-links-wrap .calendar,
  .home-container .image-links-wrap .handbook-policies {
    padding-left: 5px;
  }
}

/********** Ipad Pro ***************/

/* Landscape*/

@media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* Portrait*/

@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .home-container .home-img {
    width: 90%;
    margin: 45px auto 30px auto;
    height: 465px;
  }
  .home-container .video-container {
    margin-top: 20px;
  }
  .home-container .video-container iframe {
    width: 920px;
    height: 460px;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .home-container .home-img {
    width: 100%;
    margin: 0 auto 20px auto;
    /* height: 550px; */
  }
  .home-container .video-container iframe {
    margin: 0 auto;
    width: 700px;
    height: 390px;
  }
  .home-container .video-container {
    margin-top: 10px;
  }
  .home-container .image-links-wrap .img-link {
    width: auto;
    margin-bottom: 10px;
  }
  .home-container .image-links-wrap .img-link img {
    width: 340px;
  }
  .home-container .image-links-wrap .new-classes,
  .home-container .image-links-wrap .performances {
    padding-right: 10px;
  }
  .home-container .image-links-wrap .calendar,
  .home-container .image-links-wrap .handbook-policies {
    padding-left: 10px;
  }
}

/* iphone X */

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  .home-container .home-img {
    width: 760px;
    height: 300px;
    margin: 0 auto 20px auto;
    background-size: contain;
  }
  .home-container .video-container iframe {
    width: 86vw;
    height: 240px;
  }
  .home-container .wrap {
    padding: 0;
  }
  .home-container .video-container {
    margin-top: 15px;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .home-container .wrap {
    margin: 0 auto;
    width: 100%;
  }
  .home-container .home-img {
    width: 100%;
    height: 260px;
    margin: 0 auto 20px auto;
    background-size: contain;
  }
  .home-container .video-container iframe {
    width: 350px;
    height: 220px;
  }
  .home-container {
    min-height: 100vh;
  }
  .home-container .jack-rabbit-img {
    margin: 20px auto 50px auto;
  }
  .home-container .wrap {
    padding: 0;
  }
  .home-container .video-container {
    margin-top: 4px;
  }
  .home-container .image-links-wrap {
    margin: 20px auto 0 auto;
  }
  .home-container .image-links-wrap .img-link {
    padding: 0;
    margin-bottom: 12px;
  }
  .home-container .image-links-wrap .img-link img {
    width: 252px;
  }
  .home-container .image-links-wrap .new-classes,
  .home-container .image-links-wrap .performances {
    padding-right: 6px;
  }
  .home-container .image-links-wrap .calendar,
  .home-container .image-links-wrap .handbook-policies {
    padding-left: 6px;
  }
  .abt-nutcracker-container div {
    width: 500px !important;
    margin: 0 auto;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .home-container .home-img {
    width: 90%;
    height: 152px;
    margin: 0 auto;
    background-size: contain;
  }
  .home-container .wrap {
    width: 90%;
    margin: 0 auto !important;
  }
  .home-container .video-container {
    width: 90%;
    margin: 0 auto;
  }
  .home-container .video-container iframe {
    width: 90%;
    height: 160px;
  }
  .home-container .jack-rabbit-img {
    margin: 30px auto 50px;
  }
  .home-container .wrap {
    padding: 0;
    margin: 0;
  }
  .home-container .jack-rabbit-img {
    height: 60px;
  }
  .home-container .image-links-wrap {
    margin: 0 auto;
    width: 90%;
  }
  .home-container .image-links-wrap .img-link {
    margin: 0 auto 15px auto;
    padding: 0;
    width: 90%;
  }
  .home-container .image-links-wrap .img-link:first-child {
    margin-top: 15px;
  }
  .home-container .image-links-wrap .img-link img {
    width: 100%;
    height: 152px;
  }
  .abt-nutcracker-container div {
    width: 86%;
  }
}

/* iPhone 5 */

@media screen and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {
  .home-container .image-links-wrap .img-link:first-child {
    margin-top: 5px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation: landscape) {
  .abt-nutcracker-container div {
    width: 300px !important;
  }
}

/* iPhone 6,7,8 Plus */

@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  .home-container .home-img {
    height: 168px;
  }
  .home-container .image-links-wrap .img-link:first-child {
    margin-top: 15px;
  }
  .home-container .image-links-wrap .img-link img {
    width: 335px;
    height: 162px;
  }
}
