/* CLASS DESCRIPTION */
.description-container {
  background: url('../../images/site/description.jpg') no-repeat fixed;
  background-size: 500px 100%;
  width: 100vw;
  margin: 0 auto;
  display: inline-table;
  height: 100vh;
}

.description-container .quote-container p:first-child {
  margin-top: 25px;
}

.description-container .quote {
  text-align: center;
  margin: 25px auto;
}

.description-container img {
  margin: 16px auto 40px auto;
  display: block;
}

.description-container .heading {
  font-size: 30px;
}

.description-container .sub-title {
  text-decoration: underline;
  font-size: 20px;
}

.description-container p {
  padding: 0 30px 0 20px;
}

.description-container .description {
  margin-bottom: 30px;
}

/* MOBILE */

@media screen and (max-width: 768px) {
  .description-container {
    margin: 0 auto;
  }
  .description-container .heading {
    font-size: 20px;
  }
  .description-container img {
    width: 300px;
  }
  .description-container .quote {
    width: 90%;
  }
}

@media screen and (max-width: 568px) {
  .description-container {
    margin: 0 auto;
  }
  .description-container .heading {
    font-size: 20px;
  }
  .description-container img {
    width: 300px;
  }
  .description-container .quote {
    width: 90%;
  }
  .description-container .content {
    background-size: 100% 100%;
  }
}