/* CLASS DESCRIPTION */

.description-container {
  margin: 0 auto;
}

.description-container:after {
  content: " ";
  display: block;
  clear: both;
}

.description-container .description-img {
  background: url('../../images/bkgrnd/description.jpg') no-repeat;
  background-size: 100% auto;
}

.description-container .quote-container p:first-child {
  margin-top: 25px;
}

.description-container .quote {
  text-align: center;
  margin: 25px auto;
}

.description-container .heading {
  font-size: 30px;
}

.description-container .sub-title {
  text-decoration: underline;
  font-size: 20px;
}

.description-container p {
  padding: 0 30px 0 20px;
}

.description-container .description {
  margin-bottom: 30px;
}

/* Mobile Styles on Index.css */