.schedule-container {
  background: url('../../images/site/schedule.jpg') no-repeat fixed;
  background-size: auto 100%;
  width: 100vw;
  margin: 0 auto;
  display: inline-table;
  height: 100vh;
}

.schedule-container .content {
  background: none !important;
  border: none;
  margin: 80px auto 0 auto;
}

.schedule-container .google-class-container {
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 20px auto 0 auto;
  box-sizing: border-box;
}

.schedule-container iframe {
  width: 90%;
  height: 700px;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
}

.schedule-container .btn-sm {
  font-size: 15px !important;
}

.schedule-container .weekly-schedule .day {
  text-align: left;
  width: 80;
  padding: 5px;
  font-size: 12px;
  text-transform: uppercase;
}

.schedule-container .classType p {
  font-size: 14px;
  text-align: left;
  padding: 4px;
  margin: 0;
  border: 0.5px solid #c7c8c9;
  border-bottom: none;
}

.schedule-container .classType p:last-child {
  border-bottom: 0.5px solid #c7c8c9;
}

.schedule-container .weekly-schedule {
  width: 470px;
  padding: 0;
  background-color: hsla(0, 0%, 100%, .8);
  margin: 0 auto 20px auto;
  display: block;
}

.schedule-container .btn-wrap {
  margin: 39px auto 70px auto;
}

/* MOBILE */

@media screen and (max-width: 768px) {
  .schedule-container {
    margin: 0 auto;
  }
  .schedule-container .content {
    background: none !important;
  }
  .schedule-container iframe {
    width: 700px;
    height: 500px;
    margin: 0 auto;
    display: block;
  }
  .schedule-container .classType p {
    font-size: 14px;
  }
  .schedule-container .weekly-schedule {
    width: 100%;
    background: none;
  }
  .schedule-container .data-wrap {
    float: none;
    display: block;
    margin: 0 auto;
    width: 540px;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .schedule-container iframe {
    height: 340px;
    width: 480px;
    margin: 0 auto;
    display: block;
  }
}

@media screen and (max-width: 568px) {
  .schedule-container {
    margin: 0 auto;
    background-size: 100% 100%;
  }
  .schedule-container .data-wrap {
    float: none;
    display: block;
    margin: 0 auto;
    width: 330px;
    background: none;
  }
  .schedule-container .content {
    background-color: rgba(255, 255, 255, 0.8) !important;
  }
  .schedule-container .classType p {
    font-size: 14px;
  }
  .schedule-container .weekly-schedule {
    width: 100%;
    background: none;
  }
  .schedule-container iframe {
    height: 340px;
    width: 98vw;
    margin: 0 auto;
    display: block;
  }
}

/* CLASS DESCRIPTION */

.description-container {
  background: url('../../images/site/description.jpg') no-repeat fixed;
  background-size: 500px 100%;
  width: 100vw;
  margin: 0 auto;
  display: inline-table;
  height: 100vh;
}

.description-container .quote {
  text-align: center;
  margin: 25px auto;
}

.description-container img {
  margin: 16px auto 40px auto;
  display: block;
}

.description-container .heading {
  font-size: 30px;
}

.description-container .sub-title {
  text-decoration: underline;
  font-size: 20px;
}

.description-container p {
  padding: 0 30px 0 20px;
}

.description-container .description {
  margin-bottom: 30px;
}

/* MOBILE */

@media screen and (max-width: 768px) {
  .description-container {
    margin: 0 auto;
  }
  .description-container .heading {
    font-size: 20px;
  }
  .description-container img {
    width: 300px;
  }
  .description-container .quote {
    width: 90%;
  }
}

@media screen and (max-width: 568px) {
  .description-container {
    margin: 0 auto;
  }
  .description-container .heading {
    font-size: 20px;
  }
  .description-container img {
    width: 300px;
  }
  .description-container .quote {
    width: 90%;
  }
  .description-container .content {
    background-size: 100% 100%;
  }
}
