.home-container {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  background: #000000;
  background: -webkit-linear-gradient(to top, #000000, #434343);
  background: linear-gradient(to top, #000000, #434343);
}

.home-container .video-container {
  width: 100%;
  height: 350px;
}

.home-container .video-container iframe {
  width: 680px;
  height: 100%;
  margin: 0 auto;
  display: block;
}

.home-container .wrap {
  position: relative;
  top: 40px;
}

.home-container .donate-button-wrap {
  position: absolute;
  bottom: 0;
  padding: 5px 0 0 0;
  height: auto;
  background-color: rgb(247, 249, 250);
  width: 100%;
  text-align: center;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .home-container {
    width: 100vw;
    min-height: 100vh;
  }
  .home-container .video-container iframe {
    width: 86vw;
    height: 100%;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .home-container {
    width: 100vw;
    min-height: 100vh;
  }
  .home-container .video-container iframe {
    width: 86vw;
    height: 100%;
  }
  .home-container .video-container iframe {
    margin: 0 auto;
    height: 300px;
    width: 600px;
  }
}

/* iphone X */

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation:landscape) {
  .home-container .donate-button-wrap {
    position: relative;
    margin-bottom: 50px;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .home-container {
    width: 100vw;
    min-height: 100vh;
  }
  .home-container .video-container iframe {
    width: 86vw;
    height: 70%;
  }
  .home-container .donate-button-wrap {
    position: relative;
    margin-bottom: 50px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .home-container {
    width: 100vw;
    min-height: 100vh;
  }
  .home-container .video-container iframe {
    width: 96vw;
  }
}