/* Spring Gala Image */
.performances-container .description .spring-gala-img {
  margin: 0 auto;
  display: block;
  width: 90%;
}

.ticket-sale-image img {
width: auto;
}

/* Button */
.performances-container .description .btn-wrap a {
  font-weight: bold;
}

.performances-container {
  margin: 0 auto;
}

.performances-container:after {
  content: ' ';
  display: block;
  clear: both;
}

.performances-container .description-img {
  background: url('../../images/bkgrnd/performances.jpg') no-repeat;
  background-size: 100% auto;
}

.performances-container .quote {
  text-align: center;
  margin: 25px auto;
}

.performances-container span.sub-title-specs {
  display: block;
  font-size: 18px;
  font-weight: normal;
}

/* Mobile Styles are on Index.css */
