/* NEW CLASSES */

/* Spring Gala Image */
.performances-container .description .spring-gala-img {
  margin: 0 auto;
  display: block;
  width: 90%;
}

/* Button */
.performances-container .description .btn-wrap a {
  font-weight: bold;
}

.performances-container {
  margin: 0 auto;
}

.performances-container:after {
  content: " ";
  display: block;
  clear: both;
}

.performances-container .description-img {
  background: url('../../images/bkgrnd/performances.jpg') no-repeat;
  background-size: 100% auto;
}

.performances-container .quote {
  text-align: center;
  margin: 25px auto;
}

/* .performances-container .heading {
  padding-bottom: 12px !important;
}

.performances-container .sub-title {
  font-size: 20px;
} */

.performances-container p {
  /* padding: 0 30px 0 20px; */
}

/* .performances-container .description {
  margin-bottom: 30px;
} */

.performances-container .description .paypal-nutcracker {
  margin: 30px auto;
  display: block;
  text-align: center;
}

.performances-container .description .paypal-nutcracker select {
  height: 40px;
  border: 1px;
  background-color: #0f70ba;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 30px;
}

.performances-container .description .paypal-nutcracker form {
  display: inline-block;
}

.performances-container .description .paypal-nutcracker input[type="image"]:focus {
  outline: 0;
}

.performances-container span.sub-title-specs {
  display: block;
  font-size: 18px;
  font-weight: normal;
}

/* Mobile Styles are on Index.css */