.performace-container {
  width: 100%;
  margin: 0 auto 30px auto;
  padding: 40px;
  display: table;
}

.performace-container img {
  width: 700px;
  display: block;
  margin: 0 auto;
}

/* MOBILE */

@media screen and (max-width: 768px) {
  .performace-container {
    width: 100%;
    padding: 0;
  }
  .performace-container img {
    width: 80%;
    padding: 0;
  }
}

@media screen and (max-width: 568px) {
  .performace-container {
    width: 100%;
    padding: 0;
  }
  .performace-container img {
    width: 80%;
    padding: 0;
  }
}

/* IPAD */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .performace-container img {
    width: 600px;
    padding: 0;
  }
}