@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');
html body {
  min-height: 100vh;
  overflow-x: hidden;
}

/* Global Styles */

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000000;
}

select.form-control, textarea.form-control, input.form-control {
  font-size: 16px;
}

input[type=file] {
  width: 100%;
}

#root {
  /* height: 100%; */
  min-height: 100vh;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.App {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(247, 249, 250);
  padding-top: 109px;
}

.content {
  z-index: 9999;
  background-color: hsla(0, 0%, 100%, .8);
  width: 70vw;
  float: right;
  padding-bottom: 40px;
}

.bg-image {
  width: 30vw;
  position: fixed;
  height: 100vh;
}

.clear {
  clear: both;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.center {
  text-align: center;
}

.small {
  font-size: 14px;
}

.underline {
  text-decoration: underline;
}

p {
  font-size: 18px;
}

a {
  color: #5bc0de;
}

hr {
  border-color: #babcbc;
}

.bt {
  color: #232223;
  text-decoration: none !important;
  font-weight: 300;
  font-size: 20px;
  padding: 15px;
  margin: 20px auto;
  text-align: center;
  display: block;
  width: 300px;
  background-color: #b1c5ca;
}

.bt:visited {
  background-color: #b1c5ca;
  color: #232223;
}

.bt:hover {
  color: #9b863c;
}

/* Buttons */

/* green */

a.btn-green {
  background-color: #00d1b2;
}

a.btn-green:visited {
  color: #ffffff;
}

a.btn-green:hover {
  background-color: transparent;
  border-color: #00d1b2;
  color: #00d1b2;
}

/* red */

a.btn-red {
  background-color: #ff3860;
}

a.btn-red:visited {
  color: #ffffff;
}

a.btn-red:hover {
  background-color: transparent;
  border-color: #ff3860;
  color: #ff3860;
}

/* blue */

a.btn-blue {
  background-color: #209cee
}

a.btn-blue:visited {
  color: #ffffff;
}

a.btn-blue:hover {
  background-color: transparent;
  border-color: #209cee;
  color: #209cee;
}

/* yellow */

a.btn-yellow {
  background-color: #f8c109;
}

a.btn-yellow:visited {
  color: #ffffff;
}

a.btn-yellow:hover {
  background-color: transparent;
  border-color: #f8c109;
  color: #f8c109;
}

/* MOBILE */

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .content {
    width: 100%;
    border: none;
  }
  .bg-image {
    display: none;
  }
}

@media screen and (max-width: 568px) {
  .App {
    padding-top: 100px;
  }
  .container {
    width: 100%;
  }
  .content {
    width: 100%;
    border: none;
  }
  .bg-image {
    display: none;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 100vw;
  }
}

/* ----------- iPad Pro ----------- */

/* Portrait*/

@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .App {
    padding-top: 130px;
  }
}