.faculty-container {
  width: 80%;
  margin: 30px auto 50px auto;
}

.faculty-container .bios img {
  float: left;
  padding: 0 15px 10px 0;
  height: 190px;
  margin-top: 4px;
}

.faculty-container .bios p {
  text-align: left;
  padding: 0;
  margin: 0;
}

.faculty-container .instructor {
  display: block;
  padding-bottom: 4px;
  font-size: 18px;
}

/* MOBILE */

@media screen and (max-width: 768px) {
  .faculty-container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 568px) {
  .faculty-container {
    margin: 0 auto;
  }
}