.faculty-container {
  display: grid;
  gap: 10px;
  width: 80%;
  margin: 30px auto;
}

.faculty-container .instructor {
  display: block;
  padding-bottom: 4px;
  font-size: 18px;
}

.faculty-container .quote {
  padding-top: 15px;
  display: block;
}
/* MOBILE */

@media screen and (max-width: 768px) {
  .faculty-container {
    margin: 30px auto 0 auto;
  }
}

@media screen and (max-width: 568px) {
  .faculty-container {
    margin: 0 auto;
  }
}
