.class-attire-container {
  background: url('../../images/site/about.jpg') no-repeat fixed;
  background-size: 500px 100%;
  width: 100vw;
  margin: 0 auto;
  display: inline-table;
  height: 100vh;
}

.class-attire-container .title {
  font-size: 26px;
  padding-top: 12px;
}

.class-attire-container .sub-title {
  font-size: 18px;
}

.class-attire-container p {
  padding: 0 30px 0 20px;
  margin: 0;
}

.class-attire-container .block {
  padding-bottom: 20px;
}

.class-attire-container .row-1 {
  float: left;
  padding: 0 13px 0 20px;
}

.class-attire-container .row-2 {
  display: inline-block;
  text-align: left;
  width: 630px;
}

.class-attire-container .girls {
  padding-left: 4px;
}

.class-attire-container .italic {
  padding: 18px 30px 22px 20px;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .class-attire-container .row-2 {
    width: 600px;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .class-attire-container .row-2 {
    width: 500px;
  }
}

/* ----------- iPad Pro ----------- */

/* Portrait*/

@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .class-attire-container .row-2 {
    width: 540px;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .class-attire-container .row-2 {
    width: 500px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .class-attire-container .row-2 {
    width: 200px;
  }
  .class-attire-container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 568px) {
  .class-attire-container {
    margin: 0 auto;
    background-size: 100% 100%;
  }
  .class-attire-container .row-2 {
    width: 60%;
  }
}