.registration-container {
  background: url('../../images/site/registration.jpg') no-repeat fixed;
  background-size: 500px 100%;
  width: 100vw;
  margin: 0 auto;
  display: inline-table;
  height: 100vh;
}

.registration-container .content {
  background: none !important;
  border: none;
}

/* MOBILE */

@media screen and (max-width: 768px) {
  .registration-container {
    margin: 0 auto;
  }
  .registration-container .content {
    background-color: rgba(255, 255, 255, 0.8) !important;
  }
}

@media screen and (max-width: 568px) {
  .registration-container {
    margin: 0 auto;
    background-size: cover;
  }
  .registration-container .content {
    background-color: rgba(255, 255, 255, 0.8) !important;
  }
}
